<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description"
    content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google.">
  <meta name="keywords"
    content="materialize, admin template, dashboard template, flat admin template, responsive admin template, eCommerce dashboard, analytic dashboard">
  <meta name="author" content="ThemeSelect">
  <title>Blank Page | Materialize - Material Design Admin Template</title>
  <link rel="apple-touch-icon" href="~/app-assets/images/favicon/apple-touch-icon-152x152.png">
  <link rel="shortcut icon" type="image/x-icon" href="~/app-assets/images/favicon/favicon-32x32.png">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- BEGIN: VENDOR CSS-->
  <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/vendors.min.css">
  <!-- END: VENDOR CSS-->
  <!-- BEGIN: Page Level CSS-->
  <link rel="stylesheet" type="text/css" href="~/app-assets/css/themes/vertical-modern-menu-template/materialize.css">
  <link rel="stylesheet" type="text/css" href="~/app-assets/css/themes/vertical-modern-menu-template/style.css">
  <!-- END: Page Level CSS-->
  <!-- BEGIN: Custom CSS-->
  <link rel="stylesheet" type="text/css" href="~/app-assets/css/custom/custom.css">
  <!-- END: Custom CSS-->

  <script type="text/javascript" src="~/app-assets/js/vendors.min.js"></script>


<link rel="stylesheet" type="text/css" href="app-assets/vendors/flag-icon/css/flag-icon.min.css">
<link rel="stylesheet" type="text/css" href="app-assets/vendors/flag-icon/css/flag-icon.min.css">
<link rel="stylesheet" type="text/css" href="app-assets/vendors/data-tables/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="app-assets/vendors/data-tables/css/select.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="DataTables/AutoFill-2.3.6/css/autoFill.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="DataTables/Buttons-1.7.0/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="DataTables/ColReorder-1.5.3/css/colReorder.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="DataTables/FixedColumns-3.3.2/css/fixedColumns.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="DataTables/DateTime-1.0.3/css/dataTables.dateTime.css">
<link rel="stylesheet" type="text/css" href="DataTables/FixedHeader-3.1.8/css/fixedHeader.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="DataTables/KeyTable-2.6.1/css/keyTable.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="DataTables/RowReorder-1.2.7/css/rowReorder.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="DataTables/Scroller-2.0.3/css/scroller.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="DataTables/SearchBuilder-1.0.1/css/searchBuilder.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="DataTables/SearchPanes-1.2.2/css/searchPanes.dataTables.min.css">

<script src="DataTables/datatables.min.js"></script>
<script src="DataTables/Responsive-2.2.7/js/dataTables.responsive.min.js"></script>
<script src="DataTables/Select-1.3.3/js/dataTables.select.min.js"></script>
<script src="DataTables/AutoFill-2.3.6/js/dataTables.autoFill.min.js"></script>
<script src="DataTables/Buttons-1.7.0/js/dataTables.buttons.min.js"></script>
<script src="DataTables/ColReorder-1.5.3/js/dataTables.colReorder.min.js"></script>
<script src="DataTables/FixedColumns-3.3.2/js/dataTables.fixedColumns.min.js"></script>
<script src="DataTables/DateTime-1.0.3/js/dataTables.dateTime.min.js"></script>
<script src="DataTables/FixedHeader-3.1.8/js/dataTables.fixedHeader.min.js"></script>
<script src="DataTables/KeyTable-2.6.1/js/dataTables.keyTable.min.js"></script>
<script src="DataTables/RowReorder-1.2.7/js/dataTables.rowReorder.min.js"></script>
<script src="DataTables/Scroller-2.0.3/js/dataTables.scroller.min.js"></script>
<script src="DataTables/SearchBuilder-1.0.1/js/dataTables.searchBuilder.min.js"></script>
<script src="DataTables/SearchPanes-1.2.2/js/dataTables.searchPanes.min.js"></script>

  <script type="text/javascript" src="~/js/Global/axios.min.js"></script>
  <script type="text/javascript" src="~/js/Global/Global.js"></script>
  @* React Kütüphaneleri *@
  <script type="text/javascript" src="~/js/React/react.development.js"></script>
  <script type="text/javascript" src="~/js/React/react-dom.development.js"></script>
  <script type="text/javascript" src="~/js/React/babel.min.js"></script>
  @* React Kütüphaneleri *@

  @* Eğer Vue Js ile geliştirseydim bunu kullanacak ve yukarıdaki react kütüphanelerini iptal edecektim! *@
  @* <script src="https://unpkg.com/vue@3.0.0"></script> *@
</head>
<!-- END: Head-->

<body
  class="vertical-layout vertical-menu-collapsible page-header-dark vertical-modern-menu preload-transitions 2-columns   "
  data-open="click" data-menu="vertical-modern-menu" data-col="2-columns">

  @Html.Partial("Partial/TEMPLATE/Header")


  @Html.Partial("Partial/TEMPLATE/LeftMenu")

  @RenderBody()

  @Html.Partial("Partial/TEMPLATE/Customizer")

  <a href="#" target="_blank"
    class="btn btn-buy-now gradient-45deg-indigo-purple gradient-shadow white-text tooltipped buy-now-animated tada"
    data-position="left" data-tooltip="Buy Now!"><i class="material-icons">add_shopping_cart</i></a>

@Html.Partial("Partial/TEMPLATE/Footer")



  <script type="text/javascript" src="~/app-assets/js/plugins.js"></script>
  <script type="text/javascript" src="~/app-assets/js/search.js"></script>
  <script type="text/javascript" src="~/app-assets/js/custom/custom-script.js"></script>
  <script type="text/javascript" src="~/app-assets/js/scripts/customizer.js"></script>
</body>

</html>

<style>
  #maincard {
    padding: 20px;
  }

  .clear{
    clear:both;
    height: 50px;
  }

select{
  min-width: 150px;
}

</style>
